@{
    ViewData["Title"] = "Statistics";

}
<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/statistics.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="widht=device-width,initial-scale=1.0" />

</head>
<body>
    <div class="grid-container">
        <main class="main-container">

            <div class="charts">
                <div class="charts-card">
                    <h2 class="chart-title">Gider Dağılımı</h2>
                    <div id="chart"></div>


                </div>

                <div class="charts-card">
                    <h2 class="chart-title">Gelir Gider Dağılımı</h2>
                    <div id="bar-chart"></div>


                </div>

                <div class="charts-card">
                    <h2 class="chart-title">Gelir  Dağılımı</h2>
                    <div id="pie-chart"></div>


                </div>

            </div>






        </main>


        



    </div>

    
  
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" ></script>
    <script src="~/js/statistics.js" type="text/javascript" ></script>
       
</body>
</html>


